Repository pascualmj/ts-rn-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --findRelatedTests

feat: config redux
  package-lock.json
  package.json
  src/App.tsx
  src/hooks/storeHooks.ts
  src/screens/Welcome.tsx
  src/screens/__tests__/Welcome.test.tsx
  src/services/themes/themeValues.ts
  src/store/index.ts
  src/store/slices/rootReducer.ts
  src/store/slices/welcome/welcome.ts
  src/types/storeTypes.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests

feat: react navigation config
  package-lock.json
  package.json
  src/App.tsx
  src/navigation/RootNavigator.tsx
  src/navigation/constants/routes.ts
  src/navigation/screenGroups/commonScreens.ts
  src/navigation/screens.ts
  src/screens/Welcome.tsx
  src/screens/home/Home.tsx
  src/screens/welcome/Welcome.tsx
  src/screens/welcome/__tests__/Welcome.test.tsx
Due: eslint --fix, prettier --write, jest --findRelatedTests

feat: config env vars
  .env.example
  .gitignore
  package-lock.json
  package.json
Due: prettier --write, jest --findRelatedTests

refactor: react navigation config
  src/navigation/RootNavigator.tsx
  src/navigation/screenGroups/commonScreens.ts
  src/navigation/screens.ts
  src/screens/welcome/Welcome.tsx
  src/types/navigationTypes.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests

feat: config testing utils
  babel.config.js
  jest.config.js
  jest.setup.js
  src/screens/welcome/Welcome.tsx
  src/screens/welcome/__tests__/Welcome.test.tsx
  src/utils/test/index.tsx
Due: eslint --fix, prettier --write, jest --findRelatedTests

feat: config ios project
  ios/GosailApp.xcodeproj/project.pbxproj
  ios/GosailApp.xcworkspace/contents.xcworkspacedata
  ios/Podfile
  ios/Podfile.lock
Due: none

feat: config custom fonts for both platforms
  android/app/src/main/assets/fonts/Rubik-ExtraBold.ttf
  android/app/src/main/assets/fonts/Rubik-Regular.ttf
  android/app/src/main/assets/fonts/Rubik-SemiBold.ttf
  ios/GosailApp.xcodeproj/project.pbxproj
  ios/GosailApp/Info.plist
  src/assets/fonts/Rubik-ExtraBold.ttf
  src/assets/fonts/Rubik-Regular.ttf
  src/assets/fonts/Rubik-SemiBold.ttf
  src/services/themes/themeValues.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests

feat: config navigationRef and set up test utils
  jest.setup.js
  src/App.tsx
  src/screens/welcome/__tests__/Welcome.test.tsx
  src/services/navigation/index.ts
  src/utils/test/index.tsx
Due: eslint --fix, prettier --write, jest --findRelatedTests

feat: configure saga and api client
  package-lock.json
  package.json
  src/screens/welcome/Welcome.tsx
  src/services/apiClient/index.ts
  src/store/api/welcome.ts
  src/store/index.ts
  src/store/sagas/rootSaga.ts
  src/store/sagas/welcome/welcome.ts
  src/store/slices/welcome/welcome.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests

feat: create and setup error boundary
  ios/Podfile.lock
  package-lock.json
  package.json
  src/App.tsx
  src/components/baseErrorBoundary/BaseErrorBoundary.tsx
Due: eslint --fix, prettier --write, jest --findRelatedTests

refactor: navigation container
  src/App.tsx
  src/navigation/RootNavigator.tsx
Due: eslint --fix, prettier --write, jest --findRelatedTests

feat: sentry configuration
  .env.example
  ios/Podfile.lock
  package-lock.json
  package.json
  src/App.tsx
  src/components/baseErrorBoundary/BaseErrorBoundary.tsx
  src/services/sentry/index.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests

fix: react native config read env vars
  android/app/build.gradle
Due: none

refactor: sentry config
  .env.example
  src/App.tsx
  src/services/sentry/config.ts
  src/services/sentry/helpers.tsx
  src/services/sentry/index.ts
  src/utils/index.ts
  src/utils/switchCallback.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests

feat: storybook configuration
  package-lock.json
  package.json
  src/components/baseText/BaseText.stories.js
  src/components/baseText/BaseText.tsx
  storybook/addons.js
  storybook/index.js
  storybook/rn-addons.js
  storybook/storyLoader.js
Due: eslint --fix, prettier --write, jest --findRelatedTests

feat: reactotron config with redux, saga and storybook
  __mocks__/@react-native-async-storage/async-storage.js
  ios/Podfile.lock
  jest.setup.js
  package-lock.json
  package.json
  src/App.tsx
  src/screens/welcome/Welcome.tsx
  src/services/reactotron/index.ts
  src/store/index.ts
  src/utils/test/index.tsx
  storybook/StorybookUIHMRRoot.tsx
  storybook/config.js
Due: eslint --fix, prettier --write, jest --findRelatedTests

feat: add redux slice unit test
  package.json
  src/store/slices/welcome/__tests__/welcome.test.ts
  src/store/slices/welcome/welcome.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests

feat: add test utils for sagas testing
  jest.config.js
  jest.setup.js
  src/services/apiClient/index.ts
  src/services/navigation/index.ts
  src/store/api/welcome.ts
  src/store/api/welcome/welcome.schemes.ts
  src/store/api/welcome/welcome.ts
  src/store/sagas/welcome/__tests__/welcome.test.ts
  src/store/sagas/welcome/welcome.ts
  src/types/apiClientTypes.ts
  src/utils/test/index.tsx
Due: eslint --fix, prettier --write, jest --findRelatedTests

feat: jest coverage configuration
  .gitignore
  jest.config.js
  package.json
Due: eslint --fix, prettier --write, jest --findRelatedTests

feat: add npm cache clear command
  package.json
Due: prettier --write, jest --findRelatedTests

feat: add snapshot testing example for core components
  src/components/baseText/__tests__/BaseText.test.tsx
  src/components/baseText/__tests__/__snapshots__/BaseText.test.tsx.snap
Due: eslint --fix, prettier --write, jest --findRelatedTests

fix: env.example file
  .env.example
Due: none

refactor: change app name
  android/app/src/main/java/com/gosailapp/MainActivity.java
  android/app/src/main/res/values/strings.xml
  android/settings.gradle
  app.json
  ios/GosailApp/Images.xcassets/AppIcon.appiconset/Contents.json
  ios/GosailApp/Images.xcassets/Contents.json
  ios/Podfile
  ios/Podfile.lock
  ios/RNTSBoilerplate-tvOS/Info.plist
  ios/RNTSBoilerplate-tvOSTests/Info.plist
  ios/RNTSBoilerplate.xcodeproj/project.pbxproj
  ios/RNTSBoilerplate.xcodeproj/xcshareddata/xcschemes/RNTSBoilerplate-tvOS.xcscheme
  ios/RNTSBoilerplate.xcodeproj/xcshareddata/xcschemes/RNTSBoilerplate.xcscheme
  ios/RNTSBoilerplate.xcworkspace/contents.xcworkspacedata
  ios/RNTSBoilerplate/AppDelegate.h
  ios/RNTSBoilerplate/AppDelegate.m
  ios/RNTSBoilerplate/Images.xcassets/AppIcon.appiconset/Contents.json
  ios/RNTSBoilerplate/Images.xcassets/Contents.json
  ios/RNTSBoilerplate/Info.plist
  ios/RNTSBoilerplate/LaunchScreen.storyboard
  ios/RNTSBoilerplate/main.m
  ios/RNTSBoilerplateTests/Info.plist
  ios/RNTSBoilerplateTests/RNTSBoilerplateTests.m
Due: prettier --write, jest --findRelatedTests

feat: create README.md
  README.md
Due: prettier --write, jest --findRelatedTests

Update README.md
  README.md
Due: prettier --write, jest --findRelatedTests

feat: create api parser service
  src/services/apiParser/parser.ts
  src/store/api/welcome/welcome.parser.ts
  src/store/api/welcome/welcome.schemes.ts
  src/store/api/welcome/welcome.ts
  src/store/sagas/welcome/welcome.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests

refactor: api parser service
  src/store/api/welcome/welcome.parser.ts
  src/store/api/welcome/welcome.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests

feat: base icon component set up
  ios/Podfile.lock
  metro.config.js
  package-lock.json
  package.json
  src/assets/icons/iconly-profile_filled.svg
  src/assets/icons/iconly-profile_outline.svg
  src/assets/icons/index.ts
  src/components/baseIcon/BaseIcon.tsx
  src/components/index.ts
  src/screens/home/Home.tsx
  types/declaration.d.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests

·feat: icons setup
  src/components/baseIcon/BaseIcon.stories.js
  src/components/baseIcon/__tests__/BaseIcon.test.tsx
  src/components/baseIcon/__tests__/__snapshots__/BaseIcon.test.tsx.snap
  storybook/GlobalDecorator.tsx
  storybook/config.js
  storybook/storyLoader.js
Due: eslint --fix, prettier --write, jest --findRelatedTests

feat: set up base text comp
  src/components/baseErrorBoundary/BaseErrorBoundary.tsx
  src/components/baseText/BaseText.tsx
  src/components/baseText/__tests__/__snapshots__/BaseText.test.tsx.snap
  src/components/index.ts
  src/screens/home/Home.tsx
  src/screens/welcome/Welcome.tsx
Due: eslint --fix, prettier --write, jest --findRelatedTests

feat: set up custom header bar
  ios/Podfile.lock
  package-lock.json
  package.json
  src/assets/icons/iconly-arrow-left_filled.svg
  src/assets/icons/iconly-arrow-left_outline.svg
  src/assets/icons/iconly_more_circle_filled.svg
  src/assets/icons/iconly_more_circle_outline.svg
  src/assets/icons/index.ts
  src/components/baseHeaderBar/BaseHeaderBar.styles.ts
  src/components/baseHeaderBar/BaseHeaderBar.tsx
  src/components/baseSafeWrapper/BaseSafeWrapper.styles.ts
  src/components/baseSafeWrapper/BaseSafeWrapper.tsx
  src/components/index.ts
  src/navigation/config/getDefaultOptions.tsx
  src/navigation/screenGroups/commonScreens.ts
  src/screens/home/Home.tsx
  src/screens/welcome/Welcome.tsx
  src/services/themes/themeValues.ts
  src/store/sagas/welcome/__tests__/welcome.test.ts
  src/store/sagas/welcome/welcome.ts
  src/utils/applyStylesIf.ts
  src/utils/index.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests

feat: set up welcome screen with baseButton component
  src/components/baseButton/BaseButton.styles.ts
  src/components/baseButton/BaseButton.tsx
  src/components/baseSafeWrapper/BaseSafeWrapper.tsx
  src/components/index.ts
  src/screens/welcome/Welcome.styles.ts
  src/screens/welcome/Welcome.tsx
  src/screens/welcome/__tests__/Welcome.test.tsx
  src/utils/test/index.tsx
Due: eslint --fix, prettier --write, jest --findRelatedTests

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx,json,md}
  jest --findRelatedTests: any of: *.{js,ts,tsx,json,md}
